In [332]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections
from itertools import combinations

In [333]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
1059,tt0763831,40000000,22044277,A Thousand Words,Eddie Murphy|Allison Janney|Cliff Curtis|Clark...,Brian Robbins,He only has 1000 words left to discover what m...,"Jack McCall is a fast-talking literary agent, ...",91,Drama|Comedy,Paramount Pictures|DreamWorks SKG|Saturn Films...,3/7/2012,5.8,2012
1609,tt0327554,100000000,82102379,Catwoman,Halle Berry|Benjamin Bratt|Sharon Stone|Lamber...,Pitof,CATch Her In IMAX,Liquidated after discovering a corporate consp...,104,Action|Crime,Village Roadshow Pictures|DiNovi Pictures|Warn...,7/22/2004,4.3,2004
304,tt1131729,50000000,36348784,The Boat That Rocked,Tom Sturridge|Philip Seymour Hoffman|Rhys Ifan...,Richard Curtis,On air. Off shore. Out of control.,"The Boat that Rocked is an ensemble comedy, wh...",116,Drama|Comedy,Universal Pictures|Studio Canal|Working Title ...,4/1/2009,7.1,2009
610,tt0800080,150000000,163712074,The Incredible Hulk,Edward Norton|Liv Tyler|Tim Roth|William Hurt|...,Louis Leterrier,You'll like him when he's angry.,Scientist Bruce Banner scours the planet for a...,114,Science Fiction|Action|Adventure,Universal Pictures|Marvel Studios|Valhalla Mot...,6/12/2008,6.1,2008

In [334]:
display(data.describe())
display(data.info())

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

None

# Предобработка

In [335]:
data = pd.read_csv('movie_bd_v5.csv')
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x:x.split('|'))
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data.release_date = data.release_date.apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])

data['len_name_title'] = data['original_title'].apply(lambda x:len(x))

data['len_overview'] = data['overview'].apply(lambda x:len(x.split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [336]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = data.original_title[data.budget.idxmax()] #+
answers['1']
# если ответили верно, можете добавить комментарий со значком "+"

'Pirates of the Caribbean: On Stranger Tides'

In [337]:
# тут пишем ваш код для решения данного вопроса:
budget_max = data[data.budget == data.budget.max()][['original_title', 'imdb_id']]
display(budget_max)

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [338]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [339]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.original_title[data.runtime.idxmax()]  #+
answers['2']

'Gods and Generals'

In [340]:
time_max = data[data.runtime == data.runtime.max()][['original_title', 'imdb_id', 'runtime']]
display(time_max)

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [341]:
answers['3'] = data.original_title[data.runtime.idxmin()]  #+
answers['3']

'Winnie the Pooh'

In [342]:
time_min = data[data.runtime == data.runtime.min()][['original_title', 'imdb_id', 'runtime']]
display(time_min)

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [343]:
answers['4'] =round(data.runtime.mean(), 0) #+
answers['4']

110.0

# 5. Каково медианное значение длительности фильмов?

In [344]:
answers['5'] =round(data.runtime.median(), 0) #+
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [345]:
answers['6'] = data.original_title[data.profit.idxmax()] #+
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [346]:
answers['7'] = data.original_title[data.profit.idxmin()] #+
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [347]:
answers['8'] = len(data.original_title[data.revenue > data.budget]) #+
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [348]:
sort = data[data.release_year == 2008]
answers['9'] = sort.original_title[sort.revenue.idxmax()] #+
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [349]:
sort = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answers['10'] = sort.original_title[sort.profit.idxmin()] #+
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [350]:
data_explode_genres = data.explode('genres')
top_genres = data_explode_genres['genres'].value_counts().index.tolist() #+
answers['11'] = top_genres[0]
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [351]:
data_explode_genres = data.explode('genres')
data_profit = data_explode_genres[data_explode_genres.profit > 0]
profit_genres = data_profit['genres'].value_counts().index.tolist() 
answers['12'] = profit_genres[0]
answers['12'] #+

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [352]:
data_explode_director = data.explode('director')
revenue_director = data_explode_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index.tolist() 
answers['13'] = revenue_director[0]
answers['13'] #+

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [353]:
data_explode_director = data.explode('director')
data_explode = data_explode_director.explode('genres')
action_director = data_explode[data_explode.genres == 'Action'].director.value_counts().index.tolist() 
answers['14'] = action_director[0]
answers['14'] #+

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [354]:
data_explode_cast = data.explode('cast')
sort_data = data_explode_cast[data_explode_cast.release_year == 2012]
revenue_cast = sort_data.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).index.tolist() 
answers['15'] = revenue_cast[0]
answers['15'] #+

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [355]:
data_explode_cast = data.explode('cast')
budget_cast = data_explode_cast[data_explode_cast.budget > data_explode_cast.budget.mean()].\
    cast.value_counts().index.tolist() 
answers['16'] = budget_cast[0]
answers['16'] #+

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [356]:
data_explode_cast = data.explode('cast')
data_explode = data_explode_cast.explode('genres')
cage_genres = data_explode[data_explode.cast == 'Nicolas Cage'].genres.value_counts().index.tolist() 
answers['17'] = cage_genres[0]
answers['17'] #+

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [357]:
data_explode_companies = data.explode('production_companies')
data_paramount = data_explode_companies[data_explode_companies.production_companies == 'Paramount Pictures']
answers['18'] = data_paramount.original_title[data_paramount.profit.idxmin()] #+
answers['18'] #+

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [358]:
profit_year = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index.tolist() 
answers['19'] = profit_year[0]
answers['19'] #+

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [359]:
data_explode_companies = data.explode('production_companies')
data_warner = data_explode_companies[data_explode_companies['production_companies'].str.contains('Warner Bros')]
warner_profit_year = data_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index.tolist() 
answers['20'] = warner_profit_year[0]
answers['20'] #+

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [360]:
profit_month = data.month.value_counts().index.tolist() 
answers['21'] = profit_month[0]
answers['21'] #+

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [361]:
data_summer = data[(data.month == '6') | (data.month == '7') | (data.month == '8')]
answers['22'] = len(data_summer)
answers['22'] #+

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [362]:
data_explode_director = data.explode('director')
data_winter = data_explode_director[(data_explode_director.month == '1') 
                                    | (data_explode_director.month == '2') 
                                    | (data_explode_director.month == '12')]
winter_director = data_winter.director.value_counts().index.tolist() 
answers['23'] = winter_director[0]
answers['23'] #+

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [363]:
data_explode_companies = data.explode('production_companies')
mean_len_name = data_explode_companies.groupby(['production_companies'])['len_name_title'].\
    mean().sort_values(ascending=False).index.tolist() 
answers['24'] = mean_len_name[0]
answers['24'] #+

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [364]:
data_explode_companies = data.explode('production_companies')
max_len_overview = data_explode_companies.groupby(['production_companies'])['len_overview'].\
    mean().sort_values(ascending=False).index.tolist() 
answers['25'] = max_len_overview[0]
answers['25'] #+

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [365]:
data_sort = data.sort_values('vote_average')[['original_title', 'vote_average']]
answers['26'] = data_sort[data_sort['vote_average'] > data_sort.vote_average.quantile(q=0.99)].\
    sort_values('vote_average', ascending=False)
answers['26'] #+

                                     original_title  vote_average
599                                 The Dark Knight           8.1
34                                             Room           8.0
118                                    Interstellar           8.0
9                                        Inside Out           8.0
125                              The Imitation Game           8.0
1191                               12 Years a Slave           7.9
872                                     The Pianist           7.9
128                                       Gone Girl           7.9
1800                                        Memento           7.9
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
1183                        The Wolf of Wall Street           7.9
138                        The Grand Budapest Hotel           7.9
1081  The Lord of the Rings: The Return of the King           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [366]:
data['pair'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pair')
answers['27'] = collections.Counter(data['pair']).most_common(1)
answers['27'] #+

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [367]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26':                                      original_title  vote_average
 599                                 The Dark Knight           8.1
 34                                             Room           8.0
 118                                    Interstellar           8.0
 9                                        Inside Out           8.0
 125                              The Imitation Game           8.0
 1191                               12 Years a Slave           7.9
 872                                     The Pianist           7.9
 128                                       Gone Girl           7.9
 1800                                        Memento           7.9
 119                         Guardians of the Galaxy           7.9
 370                                       Inception           7.9
 1183                        The Wolf of Wall Street           7.9
 138                        The Grand Budapest Hotel           7.9
 1081  The Lord of the Rings: The Return of the King           7.9,
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [368]:
# и убедиться что ни чего не пропустил)
len(answers)

27